In [1]:
import requests
from bs4 import BeautifulSoup as bs
import yfinance as yf
from tqdm import tqdm
import pandas as pd

In [2]:
# Get Ticker Names
url = 'https://topforeignstocks.com/stock-lists/the-complete-list-of-oil-gas-production-stocks-trading-on-the-nyse/'
r = requests.get(url)
soup = bs(r.text)
txts = []
for link in soup.find_all('a'):
    txts.append(link.text)

tickers = txts[12:113]

In [3]:
# Download Data
data = []
for i in tqdm(range(len(tickers))):
    ticker = yf.Ticker(tickers[i])
    data.append(ticker.history(period='1y'))

100%|████████████████████████████████████████████████████████████████████████████████| 101/101 [00:13<00:00,  7.29it/s]

In [4]:
for d in data:
    print(len(d))

252
252
252
252
252
252
252
252
252
79
252
252
252
252
252
252
251
252
252
252
229
252
252
252
252
252
251
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
225
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
252
227

In [5]:
# Clean Data
col_names = []
close = []
for i in range(len(data)):
    if len(data[i]) != 252:
        continue
    else:
        col_names.append(tickers[i])
        close.append(data[i]['Close'])

In [6]:
df = pd.concat(close, axis=1, keys=col_names)

In [7]:
df

,AMPY,AR,BRN,BATL,BSM,BCEI,BORR,MNRL,COG,CPE,...,TTI,TPL,TOT,RIG,EGY,VET,VIST,VOC,WTI,WLL
Date,,,,,,,,,,,,,,,,,,,,,
2020-02-24,4.527368,1.66,0.860,11.000,9.282617,17.610001,3.020,14.480885,14.725897,24.799999,...,1.34,722.169495,41.927280,3.79,2.06,12.750500,7.05,3.796676,3.23,2.540000
2020-02-25,4.160526,1.65,0.820,10.410,8.314322,16.600000,2.870,13.801669,14.285586,23.500000,...,1.33,696.954163,40.656754,3.56,2.06,12.062833,6.73,3.759635,3.13,2.410000
2020-02-26,3.874210,1.53,0.740,9.475,8.035004,15.990000,2.763,13.484702,14.344294,22.299999,...,1.43,683.293823,40.426590,3.43,2.02,11.021780,6.58,3.685554,2.90,2.260000
2020-02-27,3.623684,1.37,0.660,8.400,8.044314,14.420000,2.679,13.068116,13.219060,20.400000,...,1.39,651.964600,39.358608,3.01,1.95,9.967793,6.16,3.546651,2.83,1.710000
2020-02-28,3.740000,1.60,0.590,7.480,8.239836,16.290001,2.405,14.444659,13.630015,22.700001,...,1.26,668.883728,39.717670,3.35,2.00,9.744778,6.23,3.333667,2.60,1.850000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-16,3.240000,9.49,3.700,11.200,9.760000,26.940001,1.560,15.890000,18.309999,24.610001,...,2.69,1164.229980,44.150002,3.68,3.07,5.810000,3.03,3.070000,3.02,29.959999
2021-02-17,3.000000,9.78,3.540,12.180,9.750000,27.010000,1.390,15.930000,18.580000,24.780001,...,2.63,1142.829956,45.049999,3.67,3.00,5.790000,3.07,3.030000,3.00,31.620001
2021-02-18,2.750000,8.96,4.200,11.990,9.340000,26.680000,1.280,15.430000,18.059999,22.270000,...,2.41,1109.829956,44.049999,3.42,2.95,5.530000,3.01,3.030000,2.89,31.000000
2021-02-19,2.970000,8.96,4.210,11.160,9.450000,27.059999,1.340,15.500000,18.559999,22.830000,...,2.55,1109.000000,44.970001,3.49,2.98,5.520000,3.05,3.030000,2.92,32.590000
2021-02-22,3.110000,8.76,4.298,11.100,9.690000,29.190001,1.330,15.640000,18.340000,24.690001,...,2.49,1100.010010,45.549999,3.52,3.10,6.240000,2.70,3.000000,2.99,34.470001

In [8]:
df.to_csv('oilgas_1y.csv')